<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weight</title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        {{ message.tags }}
        {{ message }}
    {% endfor %}
    <br>
{% endif %}
Hello {{ user.username }}
<br><br>
{% for weight in weights %}
    <h1>{{ weight.weight }}</h1>
    <p>{{ weight.date }}</p>
{% endfor %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
</body>
</html>