<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercises</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        {{ message.tags }}
        {{ message }}
    {% endfor %}
<br>
{% endif %}
Hello {{ user.username }}
<br><br>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
<br><br>
<h1>{{ exercises_list }}</h1>
<table id="exerciseTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Exercise</th>
            <th>Weight</th>
            <th>Series</th>
            <th>Reps</th>
        </tr>
    </thead>
    <tbody>
        {% for exercise in exercises_list %}
        <tr>
            <td>{{ exercise.date }}</td>
            <td>{{ exercise.name }}</td>
            <td>{{ exercise.weight }}</td>
            <td>{{ exercise.series }}</td>
            <td>{{ exercise.reps }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- DataTables -->
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>

<script>
    $(document).ready( function () {
        $('#exerciseTable').DataTable();
    } );
</script>

</body>
</html>