<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercises</title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        {{ message.tags }}
        {{ message }}
    {% endfor %}
<br>
{% endif %}
Hello {{ user.username }}
<br><br>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
<br><br>
<h1>{{ exercises_list }}</h1>
<table>
    <tr>
        <th>Date</th>
        <th>Exercise</th>
        <th>Weight</th>
        <th>Series</th>
        <th>Reps</th>
    </tr>
{% for exercise in exercises_list %}
  <tr>
        <td>{{ exercise.date }}</td>
        <td>{{ exercise.name }}</td>
        <td>{{ exercise.weight }}</td>
        <td>{{ exercise.series }}</td>
        <td>{{ exercise.reps }}</td>




  </tr>
{% endfor %}
</table>
</body>
</html>